<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Today in Technology</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/ghawthorne66/mongodb_scraper" target="_blank">Github</a></li>
        </ul>
    </div>
</nav>